.about_data {
    padding: 3% 5% 6% 5%;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    transition: 0.3s;
}

.about_data:hover {
    background-color: #E9E9E9;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
}

.about_description {
    margin-bottom: 1rem;
    text-align: justify;
    line-height: 1.5;
    color: var(--body-color);
}

.about_skills {
    row-gap: 1.25rem;
}

.skills_titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.skills_name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills_number {
    line-height: 1.2;
}

.skills_bar,
.skills_percentage {
    height: 7px;
    border-radius: 0.25rem;
    background-color: var(--first-color);
}

.skills_bar {
    background-color: #f1f1f1;
}

.skills_percentage {
    display: block;
}

.development {
    width: 90%;
    background-color: rgb(255, 209, 92);
}

.ui_design {
    width: 60%;
    background-color: rgb(255,76,96);
}

.photography {
    width: 70%;
    background-color: rgb(108,108,299);
}

.about_boxes {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.875rem;
    margin-top: 4.35rem;
}

.about_box {
    display: flex;
    column-gap: 1.5rem;
}

.about_icon {
    font-size: var(--h1-font-size);
    color: #5858c3;
}

.about_titles {
    font-size: 1.875rem;
}

.about_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn_resume {
    position: fixed;
    bottom: 1rem;
}

@media screen and (max-width: 1024px) {
    .about_container {
        grid-template-columns: 1fr;
        justify-content: center;
        row-gap: 1.875rem;
    }

    .about_description {
        text-align: left;
    }

    .about_data {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .about_box {
        flex-direction: column;
        row-gap: .5rem;
        text-align: center;
    }

    .btn_resume {
        margin-top: 10rem;
    }
}

@media screen and (max-width: 768px) {
    .about_container {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .about_boxes {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.5rem;
        justify-content: center;
    }

    .about_info {
        justify-content: center;
    }

    .btn_resume {
        position: fixed;
        bottom: 1rem;
        left: 30%;
        transform: translateX(-30%);
        font-size: small;
    }

    .about_description {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 350px) {
    .about_data {
        width: 95%;
        max-width: 95%;
        height: auto;
        margin: 0 auto;
    }

    .about_box {
        flex-direction: column;
        row-gap: .5rem;
        text-align: center;
    }

    .btn_resume {
       bottom: 0;
    }
}