.aside {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    padding: 2.5rem;
    width: 110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    box-shadow: 0 0 15px rgba(0,0,0,0.75);
    clip-path: inset(0px -15px 0px 0px);
    transition: .3s;
}

.nav {
    position: absolute;
    top: 10rem;
    width: 100%;
    left: 0;
}

.nav_list {
    display: flex;
    flex-direction: column;
}

.nav_item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: x-large;
    padding: 1rem 0;
    justify-content: center;
}

.nav_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #F6F6F6;
    transition: width 0.3s ease-in-out;
}

.nav_item:hover::before {
    width: 100%;
}

.nav_link {
    display: flex;
    align-items: center;
    color: #155E75;
}

.nav_item:hover .nav_link,
.nav_link.active {
    transform: translateX(-2.5rem);
}

.nav_item:hover .nav_text {
    opacity: 1;
    left: calc(100% + 1rem);
}

.nav_link::before {
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav_link:hover::before {
    width: 100%;
    left: 0;
}

.nav_text {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    font-size: 15px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav_link:hover .nav_text,
.nav_link.active .nav_text {
    opacity: 1;
}

.nav_item .nav_link,
.nav_item .nav_text {
    transition: .3s;
}

/* .nav_link.active {
    width: 100%;
    background-color: black;
    color: red;
    border: 1px solid green;
    left: 0;
  } */

.copyright {
    color: hsl(245, 15%, 65%);
    font-size: var(--small-font-size);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
}

.logo {
    height: 100px; 
    width: 100px;
    margin-left: -35px;
}

.nav_toggle {
    position: fixed;
    top: 1.25rem;
    left: 1.875rem;
    cursor: pointer;
    height: 40px;
    width: 45px;
    background-color: var(--body-color);
    border: 1px solid #e8dfec;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .3s;
}

@media screen and (max-width: 1024px) {
    .aside {
      left: -110px;
      box-shadow: 0 0 0 rgba(0,0,0,0);
    }

    .nav_toggle {
        display: flex;
        background-color: var(--text-color);
    }

    .nav_toggle-open {
        left: 140px;
    }

    .show-menu {
        left: 0;
    }
}